<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.dslmeinte.nl/xtext/express/Express" 
       class = "nl.dslmeinte.xtext.express.express.ExpressPackage"
       genModel = "nl/dslmeinte/xtext/express/Express.genmodel" /> 
	
  </extension>





</plugin>
