<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.dslmeinte.nl/xtext/sgml/base/Base" 
       class = "nl.dslmeinte.xtext.sgml.base.base.BasePackage"
       genModel = "nl/dslmeinte/xtext/sgml/base/Base.genmodel" /> 
	
  </extension>





</plugin>
